body {
  display: block;
  max-width: 100%;
}

main {
  max-width: 90%;
}

.svg {
  height: 20px;
  margin: 5px;
}

.header_main {
  display: inline-block;
  position: fixed;
  width: 100%;
  background-color: white;
  opacity: 90%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  position: relative;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 1000px;
  }

  figcaption {
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    color: #666666;
  }
img {
  max-width: 100%;
}