title {
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-weight: 700;
  font-style: italic;
}

body {
  display: block;
}

main {
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

a {
    text-decoration: none;
    color: #333333;
}

.svg {
  height: 15px;
  margin: 5px;
  margin-right: 10px;
}

.nyt {
  height: 30px;
  margin: 5px;
}

.header_main {
  display: inline-block;
  position: fixed;
  box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;  
  width: 100%;
  background-color: white;
  top: 0;
}

.top-nav {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.space-cos {
  align-self: center;
}

.nav-button {
  background-color: #557b92;
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}


figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin-left: 40px;
    margin-right: 40px; */
    max-width: 1000px;
  }

  figcaption {
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    color: #666666;
  }
img {
  max-width: 100%;
}

/* Refrences styling guide */
.referances {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  margin: auto;
  color: #666666;

}

#social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: space-between;
}